<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<h3>Corporate Information</h3>
<address>
	<strong>Micktel Corp</strong><br>
	P.O. Box 262460<br>
	San Diego, CA 92126-2460<br><br>
	<strong>Phone:</strong> 877-MICKTEL (877-642-5835)<br>
	<strong>Service:</strong> <a href="mailto:#">Accounting@Micktel.com</a><br>
	<strong>Inquiries:</strong> <a href="mailto:#">Sales@Micktel.com</a>
</address>


All inquiries can be made by phone during the office hours of 9:00am - 5:00pm PST.

