<% provide(:title, 'FAQ') %>

<h1>Frequently Asked Questions</h1>

<h2>Toll-Free Telephone Numbers</h2>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">What is a Toll Free Number?</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				<p>Referred to as 800 numbers after the original area code, toll free numbers today can start with the area codes, 800, 888, 877, and 866. A toll free number is a telephone number that can be called at no cost to the caller. The owner of the toll free number pays for the cost of the call.</p>
				<p>A toll free number is a phone number that rings to or forwards to any local number you specify. This includes your home, work or cellular phone, as well as a voip line or any non-toll free number throughout the US. The forwarding and any additional lines can be configured at any time without the need for any special equipment.</p>
				<p>Using a toll free number as the primary means for customers or clients to reach your business gives you a professional appearance as well as future growth flexibility.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">How do Toll Free Numbers work?</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>A toll free number rings to or forwards to any local phone number. This is similar to a remote call forwarded number. There is no need for special equipment or the installation of additional lines. Features such as Caller ID, Call Forwarding, Voicemail on the local line, will operate the same as if the caller had dialed the local number.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Why are Toll Free Numbers popular?</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>The number one reason they are so popular is that they are free for consumers. Businesses like them because customers are more likely to call when it's free. Toll Free numbers also provide increased responses to advertising as well as credibility and prestige for a business. They also provide great flexibility in that the forwarding can be changed easily and they can help track your advertising campaigns.</p>	
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">What is a Vanity number?</a>
		</div>
		<div id="collapseFour" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Vanity toll free numbers are a series of digits that happen to correspond with letters on a phone keypad. These memorable words or phrases are significant in making your advertising dollars give you more bang for your buck. You lose a significant amount of your potential responses when you require clients to remember a series of unrelated random digits in order to be able to contact you.</p>
				<p>The reason you advertise is to create a lasting impression on a potential client and repetition is the key. Consider running an ad campaign with the number 1-800-ORDER-NOW vs 1-800-492-7553 as the callback number. 1-800-ORDER-NOW will leave a much more memorable impression on a potential client. This means savings in your advertising budget by not needing as much repetition.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Benefits to having a Vanity number.</a>
		</div>
		<div id="collapseFive" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Vanity numbers provide a more memorable means for a potential client or customer to contact to your business. With the proper advertising you can use a good vanity number to help brand your business. There are many other benefits to using vanity numbers.</p>	
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Is any equipment or another line needed?</a>
		</div>
		<div id="collapseSix" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>No special equipment or the installation of additional lines is necessary. Your toll free number can be pointed to any local number without affecting any of the features of the local number.<</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">Can I change my Toll Free Number's forwarding?</a>
		</div>
		<div id="collapseSeven" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>One of the great advantages of having a toll free number is that the forwarding can be changed quickly and easily. The forwarding can even ring to your cell phone. This provides flexibility for growing businesses. There are many advanced forwarding configurations that can be utilized when using a toll free number.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">What we can do for your business.</a>
		</div>
		<div id="collapseEight" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li>We provide assistance in finding the best possible number for your business.</li>
					<li>We get your number up and running right away.</li>
					<li>We can assist you with specialized call forwarding.</li>
					<li>We can create customized IVR menus for your business.</li>
					<li>We provide realtime online reporting and management tools.</li>
					<li>Our staff knows the "vanity" number business better than anyone.</li>
					<ul>
					</div>
				</div>
			</div>
		</div>

