<% provide(:title, 'Guide') %>

<h2>Toll-Free Telephone Numbers</h2>
<div class="bs-docs-example">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#vanity" data-toggle="tab">Vanity Toll-Free Numbers</a></li>
		<li><a href="#work" data-toggle="tab">Using Vanity Numbers</a></li>
		<li><a href="#information" data-toggle="tab">Information</a></li>
		<li><a href="#tf" data-toggle="tab">Toll-Free Numbers Overview</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="vanity">
			<p>Vanity toll free numbers are a series of digits that spell something. The significance of this is to make your advertising dollars give you more bang for your buck. You lose a significant amount of your potential responses when you require clients to remember a series of unrelated random digits in order to be able to contact you.</p>
			<p>The reason you advertise is to create a lasting impression on a potential client and repetition is the key. Consider running an ad campaign with the number 1-800-ORDER-NOW vs 1-800-492-7553 as the callback number. 1-800-ORDER-NOW will leave a much more memorable impression on a potential client. This means savings in your advertising budget by not needing as much repetition.</p>
		</div>
		<div class="tab-pane fade" id="work">
			<p>The are many benefits to using a good vanity number. There are obviously toll free numbers that are not vanity numbers as well as vanity numbers that are not toll free. Combining the two provides a highly valuable asset for your business. Here is a list of a few ways that a vanity toll free number can help you business.</p>
			<ul>
				<li>Increases Sales by providing Increased Response Rates</li>
				<li>Strengthens Traditional Radio and TV Ad Campaigns</li>
				<li>Provides Business Credibility and Prestige</li>
				<li>Instant Branding for Products or Services</li>
				<li>Provides a Stronger Market Presence</li>
				<li>Increased Repeat and Word of Mouth Customers</li>
			</ul>
		</div>
		<div class="tab-pane fade" id="information">
			<p>The are many benefits to using a good vanity number. There are obviously toll free numbers that are not vanity numbers as well as vanity numbers that are not toll free. Combining the two provides a highly valuable asset for your business. Here is a list of a few ways that a vanity toll free number can help you business.</p>
			<ul>
				<li>Toll free numbers are free for the caller and the owner of the toll free number pays the cost of the incoming call as if they made it themselves. A toll free number can start with 800, 888, 877, or 866 and does not require any special equipment nor does it affect or change the local number it points to.</li>
				<li>A toll free number is a phone number that rings to or forwards to any local number you specify. This includes your home, work or cellular phone, as well as a voip line or any non-toll free number throughout the US and Canada. Calls can also be routed to your computer desktop.</li>
				<li>A vanity number is a toll free number that spells something. A vanity number is a great advertising tool. It will increase the response rate to your advertising as well as provide a very memorable contact number. A great vanity number allows your company to look larger and more successful.</li>
				<li>It can be difficult sometimes to find great vanity numbers so try not to limit yourself to generic terms or numbers with only 7 digits. Be creative and find terms that closly represent your product, services or company name.</li>
				<li>Phone companies normally just forward the calls to a regular local number, but we specialize in enhanced 800 voicemail services, greetings, menus, special call routing to multiple numbers and many other advanced features that can make your company have a stronger market presence.</li>
			</ul>
		</div>
		<div class="tab-pane fade" id="tf">
			<p>Referred to as 800 numbers after the original area code, toll free numbers today can start with the area codes, 800, 888, 877, and 866. A toll free number is a telephone number that can be called at no cost to the caller. The owner of the toll free number pays for the cost of the call.</p>
			<p>A toll free number is a phone number that rings to or forwards to any local number you specify. This includes your home, work or cellular phone, as well as a voip line or any non-toll free number throughout the US. The forwarding and any additional lines can be configured at any time without the need for any special equipment.</p>
			<p>Using a toll free number as the primary means for customers or clients to reach your business gives you a professional appearance as well as future growth flexibility.</p>

		</div>
	</div>
</div>
