<% provide(:title, 'Products') %>

<div class="hero-unit">
	<h1>Micktel Products</h1>
</div>

<div class ="row-fluid">
	<div class ="span4">
		<h2>Toll Free Hosting</h2>
		<p>We control and host toll free telephone numbers for businesses, otherwise known as vanity telephone numbers. This is an economical and logical way to brand your business and get consumers to contact you.</p>
	</div>
	<div class ="span4">
		<h2>IVR Hosting</h2>
		<p>In addition to hosting toll free telephone numbers, there are a variety of options to establish the workflow of the consumer's call. This includes automated menu systems and voicemail options.</p>
	</div>
	<div class ="span4">
		<h2>On Site Connect</h2>
		<p>This software allows consumers on your web site, our web site or any web site to connect to you over the telephone. Convert valuable leads from the Internet into a telephone inquiry.</p>
	</div>
</div>

